<h1>Getlinks#Home</h1>
<p>Find me in app/views/getlinks/Home.html.erb</p>
<img style="border: 1px solid black; min-width: 5px; min-height: 5px;" src='<%= @formattedrate %>' alt="google image here" ></img>
